.banner-callout {
  padding: 10px;
  text-align: center;

  border-top: 5px solid blue;
}

.hero-cover {
  background: url('https://doixzan7hf4ti.cloudfront.net/hack-the-north-assets/hero1alt-sm.svg');
  background-size: cover;
  background-position: center;
  min-height: 75vh;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .hero-cover {
    background: url('https://doixzan7hf4ti.cloudfront.net/hack-the-north-assets/hero1alt.svg');
    min-height: 80vh;
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
  }
}

.login-form {
  background: #f2f2f2;
  border-radius: 8px;

  padding: 3rem;
}

.ui-card {
  background: white;
  border-radius: 8px;
  display: inline-block;

  padding: 1rem;

  position: absolute;
}

.bottom-left {
  left: 0;
  bottom: 0;

  margin: 20px;
}
.bottom-right {
  right: 0;
  bottom: 0;

  margin: 20px;
}

.top-left {
  left: 0;
  top: 0;

  margin: 20px;
}

.top-right {
  right: 0;
  top: 0;

  margin: 20px;
}

.notification-container {
  padding: 1em;
  margin-top: 20px;

  background-color: white;
  border-radius: 8px;

  top: 0;

  position: absolute;
  width: 50%;
}

.mainbody-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.name-plate {
  background-color: RGBA(255, 255, 255, 0.6);
  padding: 10px;
}

@supports (backdrop-filter: none) {
  .name-plate {
    background-color: RGBA(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
  }
}
