html,
body {
  height: 100%;
}

/*Text Formatting*/
.gradient-text-hero {
  background-color: darkgrey;
  background-image: linear-gradient(45deg, #6446f7, #ff28ae);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.text-close {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
